[
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; Meta Model
;;;
;;;  TODO: description of what this is and the purpose it serves
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 [
  {:db/id #db/id[:db.part/db]
   :db/ident :dt/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "A reference to the class of an entity. Entities with
           this attribute are known as 'typed entities'"
   :db.install/_attribute :db.part/db}

  ]

 [

  {:db/id #db/id[:db.part/user]
   :db/ident :dt/Property
   :db/doc "An attribute"}

  {:db/id #db/id[:db.part/user]
   :db/ident :dt/Resource
   :db/doc "A thing"}

  {:db/id #db/id[:db.part/user]
   :db/ident :dt/Class
   :db/doc "A type"} ]

 [
  {:db/id #db/id[:db.part/db]
   :db/ident :dt/domain
   :dt/type  :dt/Property
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "The datatype that may have a given property"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/range
   :dt/type  :dt/Property
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "The datatype of a property's value"
   :db.install/_attribute :db.part/db}
  ]

 [
  {:db/ident :dt/range
   :dt/domain :dt/Class
   :dt/range :dt/Class}

  {:db/ident :dt/domain
   :dt/domain :dt/Class
   :dt/range :dt/Class}

  ]

 [

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/namespace
   :dt/type  :dt/Property
   :dt/domain :dt/Class
   :dt/range :db.type/string
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "Data types have qualified names. This is the data type
           namespace."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/label
   :dt/type  :dt/Property
   :dt/domain :dt/Resource
   :dt/range :db.type/string
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "The local part or unqualified name of a data type."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/subclass-of
   :dt/type  :dt/Property
   :dt/domain :dt/Class
   :dt/range :dt/Class
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "The data type(s) this data type inherits from."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/list
   :dt/type  :dt/Property
   :dt/domain :dt/Class
   :dt/range :dt/Class
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Dynamically generated reference to a list data type.
           Provides support for multi-dimensional values."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/items
   :dt/type  :dt/Property
   :dt/domain :dt/Class
   :dt/range :dt/Resource

   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "References item membership in list."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/component
   :dt/type  :dt/Property
   :dt/domain :dt/Class
   :dt/range :dt/Class
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Only populated for list data types."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/slots
   :dt/type  :dt/Property
   :db/valueType :db.type/ref
   :dt/domain :dt/Class
   :dt/range :dt/Property
   :db/cardinality :db.cardinality/many
   :db/doc "References to the data type fields, themselves data types."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :dt/subproperty-of
   :dt/type  :dt/Property
   :dt/domain :dt/Property
   :dt/range :dt/Property
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many
   :db/doc "Defines parent attributes."
   :db.install/_attribute :db.part/db}


  ]


 [
  ;; {:db/ident :dt/Resource

  ;;  :dt/label "Resource"
  ;;  :dt/slots [:dt/type :dt/namespace :dt/label]}


  {:db/ident :dt/Class
   :dt/type :dt/Class
   :dt/namespace "system"
   :dt/label "Class"
   :dt/slots [:dt/subclass-of :dt/list :dt/component :dt/slots]}

  {:db/ident :dt/Property
   :dt/type :dt/Class
   :dt/label "Property"
   :dt/namespace "system"
   :dt/slots [:dt/domain :dt/range :dt/subproperty-of]}

  ]

;;;
;;; Datatype Aggregates
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :dt/type :dt/Class
   :dt/namespace "system"
   :dt/label "Class[]"
   :db/ident :dt/Class*
   :db/doc "Single-dimensional aggregate of Class instances"
   :dt/component :dt/Class
   :dt/_list :dt/Class
   :dt/slots []}

  {:db/id #db/id[:db.part/user -2]
   :dt/type :dt/Class
   :dt/namespace "system"
   :dt/label "Class[][]"
   :db/ident :dt/Class**
   :db/doc "Multi-dimensional aggregate of Class instances"
   :dt/component #db/id[:db.part/user -1]
   :dt/_list #db/id[:db.part/user -1]
   :dt/slots []}
 ]

]
