[
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; Abstract-Superclass "T"
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


;;;
;;;  T Datatype
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :db/ident :T
   :dt/dt :dt/dt
   :dt/namespace "system"
   :dt/name "T"
;   :dt/parent
   :db/doc "T is the abstract superclass of all datatypes"
   :dt/slots [:dt/dt]}

  ]

 [   ;; self referential update

   {:db/ident :dt/dt
    :dt/parent :T}

  {:db/ident :Property
   :dt/parent :T}


  ]

[
 {:db/ident :dt/slots
  :dt/dt :Property
  :dt/domain :dt/dt
  :dt/range :T
  }

 {:db/ident :dt/name
  :dt/dt :Property
  :dt/range  :db.type/string
  :dt/domain :dt/dt}

 {:db/ident :dt/namespace
  :dt/dt :Property
  :dt/range  :db.type/string
  :dt/domain :dt/dt}

 {:db/ident :dt/parent
  :dt/dt :Property
  :dt/range  :dt/dt
  :dt/domain :dt/dt}

 {:db/ident :dt/subproperty-of
  :dt/dt :Property
  :dt/range  :Property
  :dt/domain :Property}

 {:db/ident :TransitiveProperty
  :dt/dt :dt/dt
  :dt/subproperty-of :Property
  :dt/domain :T
  :dt/range  :T}

]
;;;
;;;  T Aggregates
;;;

 [

  {:db/id #db/id[:db.part/user -1]

   :dt/dt :dt/dt
   :dt/namespace "system"
   :dt/name "T[]"
   :db/ident :T*
   :dt/parent :dt/dt*
   :db/doc "Single-dimensional aggregate of T instances"
   :dt/component :T
   :dt/_list :T
   :dt/slots [:dt/items]}

  {:db/id #db/id[:db.part/user -2]
   :dt/dt :dt/dt
   :dt/namespace "system"
   :dt/name "T[][]"
   :db/ident :T**
   :dt/parent :dt/dt**
   :db/doc "Multi-dimensional aggregate of T instances"
   :dt/component #db/id[:db.part/user -1]
   :dt/_list #db/id[:db.part/user -1]
   :dt/slots [:dt/items]}
 ]

]
