
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;
;;;  User Attributes
;;;

[

 [
  {:db/id #db/id[:db.part/user -1]
   :db/ident :model/User}
  ]

 [
  {:db/id #db/id[:db.part/db]
   :db/ident :user/uuid
   :dt/range :db.type/uuid
   :dt/domain :model/User
   :dt/type  :dt/Property
   :db/valueType :db.type/uuid
   :db/cardinality :db.cardinality/one
   :db/doc "Unique Identity"
   :db/unique :db.unique/value
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/login
   :db/valueType :db.type/string
   :dt/range :db.type/string
   :dt/domain :model/User
   :dt/type  :dt/Property
   :db/cardinality :db.cardinality/one
   :db/doc "Login Identity"
   :db/unique :db.unique/value
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/secret
   :dt/type  :dt/Property
   :db/valueType :db.type/string
   :dt/range     :db.type/string
   :dt/domain    :model/User
   :db/cardinality :db.cardinality/one
   :db/doc "Secret Hash"
   :db.install/_attribute :db.part/db}

  ]

;;;
;;;  User Datatype
;;;

 [
  {;:db/id #db/id[:db.part/user -1]
   :db/ident :model/User
   :dt/type :dt/Class
   :dt/subclass-of  :dt/Ref
   :dt/namespace "example"
   :dt/label "User"
   :db/doc "Superclass of all users."
   :dt/slots [:user/uuid
              :user/login
              :user/secret]}

  ]


;;;
;;;  User Aggregates
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :dt/type :dt/Class
   :dt/namespace "example"
   :dt/label "User[]"
   :db/ident :model/User*
   :dt/subclass-of :dt/Resource*
   :db/doc "Single-dimensional aggregate of concrete User subclass instances"
   :dt/component :model/User
   :dt/_list :model/User
   :dt/slots []}

  {:db/id #db/id[:db.part/user -2]
   :dt/type :dt/Class
   :dt/namespace "example"
   :dt/label "User[][]"
   :db/ident :model/User**
   :dt/subclass-of :dt/Resource**
   :db/doc "Multi-dimensional aggregate of concrete User subclass instances"
   :dt/component #db/id[:db.part/user -1]
   :dt/_list #db/id[:db.part/user -1]
   :dt/slots []}
  ]

 ]
