
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;
;;;  User Attributes
;;;

[
 [
  {:db/id #db/id[:db.part/db]
   :db/ident :user/uuid
   :db/valueType :db.type/uuid
   :db/cardinality :db.cardinality/one
   :db/doc "Unique Identity"
   :db/unique :db.unique/value
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/login
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "Login Identity"
   :db/unique :db.unique/value
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :user/secret
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "Secret Hash"
   :db.install/_attribute :db.part/db}

  ]

;;;
;;;  User Datatype
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :db/ident :user
   :dt/dt :dt/dt
   :dt/parent :t
   :dt/namespace "model"
   :dt/name "User"
   :db/doc "Superclass of all users."
   :dt/slots [:user/uuid
              :user/login
              :user/secret]}
  ]


;;;
;;;  User Aggregates
;;;

 [
  {:db/id #db/id[:db.part/user -1]
   :dt/dt :dt/dt
   :dt/namespace "model"
   :dt/name "User[]"
   :db/ident :user*
   :dt/parent :t*
   :db/doc "Single-dimensional aggregate of concrete User subclass instances"
   :dt/component :user
   :dt/_list :user
   :dt/slots []}

  {:db/id #db/id[:db.part/user -2]
   :dt/dt :dt/dt
   :dt/namespace "model"
   :dt/name "User[][]"
   :db/ident :user**
   :dt/parent :t**
   :db/doc "Multi-dimensional aggregate of concrete User subclass instances"
   :dt/component #db/id[:db.part/user -1]
   :dt/_list #db/id[:db.part/user -1]
   :dt/slots []}
  ]

 ]
